<!-- Start Landing Page -->
<div class="landing-page">
  <header>
    <div class="container">
      <a href="#" class="logo">Itz <b>Hiringz</b></a>
      <ul class="links">
        <li routerLink="/landingpage">Home</li>
        <li routerLink="/managejob">Job Posts</li>
        <li routerLink="/companies">Applicants</li>
        <li routerLink="/empnavbar">Services</li>
        <li
          routerLink="/jobseekerprofile"
          routerLinkActive="active"
    
        >
        <i class="bi bi-person-circle" style="margin-right: 2px;"></i>My account
        </li>
      </ul>
    </div>
  </header>
</div>
<!-- End Landing Page -->
