<!-- Start Landing Page -->
<div class="landing-page">
  <div class="content">
    <div class="container">
      <div class="info">
        <h1>Looking For Job</h1>
        <p>
          "Your work is going to fill a large part of your life, and the only
          way to be truly satisfied is to do what you believe is great work. And
          the only way to do great work is to love what you do."<b>
            - Steve Jobs</b
          >
        </p>
        <button style="background-color: #1DE789;">Explore</button>
      </div>
      <div class="image">
        <img src="https://i.postimg.cc/65QxYYzh/001234.png" />
      </div>
    </div>
  </div>
</div>
<!-- End Landing Page -->
