<div class="mainDiv">
    <div class="cardStyle">
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <img src="../../../assets/images/reset-password-icon-8.jpg" alt="Reset Password Icon" id="signupLogo" />
        <h2 class="formTitle">Reset your password</h2>
        <div class="inputDiv">
          <label class="inputLabel" for="password">New Password</label>
          <input type="password" id="password" formControlName="password" />
          <div *ngIf="resetPasswordForm.get('password').hasError('required')" class="error-message">
            New Password is required.
          </div>
        </div>
        <div class="inputDiv">
          <label class="inputLabel" for="confirmPassword">Confirm Password</label>
          <input type="password" id="confirmPassword" formControlName="confirmPassword" />
          <div *ngIf="resetPasswordForm.get('confirmPassword').hasError('required')" class="error-message">
            Confirm Password is required.
          </div>
          <div *ngIf="resetPasswordForm.get('password').value !== resetPasswordForm.get('confirmPassword').value" class="error-message">
            Passwords do not match.
          </div>
        </div>
        <div class="buttonWrapper">
          <button type="submit" class="submitButton pure-button pure-button-primary" [disabled]="resetPasswordForm.invalid">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
  
  