<!-- <div class="container" *ngFor="let i of jobApplications">
  <div class="card mx-auto">
    <div class="row">
      <div class="logo ml-3 mb-3">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTxDRpxI5gXgaVmnO-VgcVUNOkca91jIpS75Flbzkz5W_5g5_V5&usqp=CAU"
        />
      </div>
      <h2 class="heading">{{i.UserName}}</h2>
    </div>
    <div class="card-title">
      <h3>
        {{ i.JobTitle }}
      </h3>
    </div>
    <p class="text-muted">
      {{ i.JobDescription }}
    </p>
    <div class="row btnrow my-4">
      <div class="col-4 col-md-3">
        <button
          type="button"
          class="btn btn-outline-success btn-sm"
          style="background: #00ff002b"
        >
          {{ i.JobTitle }}
        </button>
      </div>
      <div class="col-4 col-md-3">
        <button
          type="button"
          class="btn btn-outline-primary btn-sm"
          style="background: #007bff33"
        >
          {{ i.ApplyDate }}
        </button>
      </div>
      <div class="col-4 col-md-3" style="margin-left: 15px">
        <button
          type="button"
          class="btn btn-outline-danger btn-sm"
          style="background: #dc35452e"
        >
          {{ i.City }}
        </button>
      </div>
    </div>
    <div class="row btnsubmit mt-4">
      <div class="col-md-6 col-6">
        <button
          type="button"
          class="btn btn-primary btn-lg"
          [routerLink]="['/jobseekerprofile', i.UserAccountId]"
        >
          <span>View Profile</span>
        </button>
      </div>
      <div class="col-md-6 col-6">
        <button
          type="button"
          class="btn btn-dark btn-lg"
          data-toggle="modal"
          data-target="#myModal"
          id="btn"
          style="border: none"
          (click)="onInvite(i.UserAccountId)"
        >
          Invite
        </button>
      </div>
      <app-job-invitation-template
        [userAccountId]="i.UserAccountId"
        [jobPostId]="i.JobPostId"
        [jobJobPosition]="i.JobTitle"
        [userName]="i.UserName"
      ></app-job-invitation-template>
    </div>
  </div>
</div>

 -->
 <h1 class="text-center">Job Applications</h1>
 <table class="table ">
  <thead class="table-dark">
      <tr>
        <th>User Name</th>
        <th>Job Title</th>
        <th>Job Mode</th>
        <th>Applied Date</th>
        <th>Profile</th>
        <th>Invite</th>
        <th>Action</th>
        <th>Response</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of jobApplications">
      <td>{{i.UserName}}</td>
      <td>{{i.JobTitle}}</td>
      <td>{{i.JobTypeName}}</td>
      <td>{{i.ApplyDate | date}}</td>
      <td> <button
        type="button"
        class="btn btn-primary text-dark"
        [routerLink]="['/jobseekerprofile', i.UserAccountId]"
      >
        <span>View Profile</span>
      </button> </td>
      <td> <button
        type="button"
        class="btn"
        data-toggle="modal"
        data-target="#myModal"
        style="background-color: blueviolet;color: white;"
        id="btn"
        
      >
        Invite
      </button></td>
      <td><button class="btn btn-danger" (click)="onReject(i.UserAccountId,i.JobPostId)">Reject</button></td>
      <td><h3 *ngIf="i.IsAccepted">Accepted</h3>
        <h3 *ngIf="i.IsDeclined">Rejected</h3>
        <!-- <h3 *ngIf="!i.IsDeclined && !i.IsAccepted">No Response</h3></td> -->
        
      <app-job-invitation-template
      [userAccountId]="i.UserAccountId"
      [jobPostId]="i.JobPostId"
      [jobJobPosition]="i.JobTitle"
      [userName]="i.UserName"
    ></app-job-invitation-template>
    
    </tr>

  </tbody>
</table>
