<div  class="container" *ngFor="let i of jobApplications">
  <div class="card mx-auto" (onload)="onLoadfn(i.UserAccountId)" >
    <div class="row">
      <div class="logo ml-3 mb-3">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTxDRpxI5gXgaVmnO-VgcVUNOkca91jIpS75Flbzkz5W_5g5_V5&usqp=CAU"
        />
      </div>
      <h2 class="heading">Name</h2>
    </div>
    <div class="card-title">
      <h3 >
       {{i.JobTitle}}
      </h3>
    </div>
    <p class="text-muted">
        {{i.JobDescription}}
    </p>
    <div class="row btnrow my-4">
      <div class="col-4 col-md-3">
        <button
          type="button"
          class="btn btn-outline-success btn-sm"
          style="background: #00ff002b"
        >
        {{i.JobTitle}}
        </button>
      </div>
      <div class="col-4 col-md-3">
        <button
          type="button"
          class="btn btn-outline-primary btn-sm"
          style="background: #007bff33"
        >
        {{i.ApplyDate}}
        </button>
      </div>
      <div class="col-4 col-md-3" style="margin-left: 15px;">
        <button
          type="button"
          class="btn btn-outline-danger btn-sm"
          style="background: #dc35452e"
        >
        {{i.City}}
        </button>
      </div>
    </div>
    <div class="row btnsubmit mt-4">
      <div class="col-md-6 col-6">
        <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/jobseekerprofile', i.UserAccountId]">
          <span>View Profile</span>
        </button>
      </div>
      <div class="col-md-6 col-6">
        <button type="button" class="btn btn-dark btn-lg">
          <span><app-job-invitation-template/></span>
        </button>
      </div>
    </div>
  </div>
</div>
